<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Жирный Улов</title>
    <style>
        body {
            background-color: black;
        }
        .but
        {
            margin-top: 318px;
            width: 193px;
        }
        p {
            text-align: center;
        }
        .wrapper{
            background-image: url(http://operbox.pp.ua/img/fon2.jpg);
            position: relative;
            width: 1200px;
            height: 676px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <p>
    <a href="/razban.html"><img class="but" src="http://operbox.pp.ua/img/razbuton2.png"></a>
    </p>
</div>
</body>
</html>