<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление разбаном</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>
<body>
    <div class="wraper">
        <p>Батя в здании</p>
        <p><form action="/tu/povelitel.html" method="post">
            <input type="text" equired pattern="^[a-z0-9_\.-]+$" name="vk_id">
            <input type="submit" name="ok">
           </form>
        </p>
        <#if c == 1>
        <p>${mes} id:${id}</p>
        </#if>
    </div>

</body>
</html>